

textarea:focus, input:focus,select:focus{
    outline: none;
}

.uc{text-align: center;padding-top: 50px;border: 1px solid #b5b5b5;width: 100%; height: 500px;}



/* s: consult */

.swit_con{width: 100%;}
  
.bswitch{width: 20%; height: auto;padding:2px 0px;; border: 1px olid;margin: auto;margin-top: 0px;display: flex;justify-content: space-between;align-items: center;}
.bswit,.bswit{width: 20px; height: 20px; border-radius: 50%; background-color: #454545;display: flex;}
.bsin,.bsin{width: 10px; height: 10px;background-color: #454545;border-radius: 50%;margin: auto;border: 3px solid #fcfcfc;box-sizing: content-box}


@keyframes tsani{
    from{opacity: 0;transform: scale(1.2); }
     to{opacity: 1;transform: scale(1.0); }
    
}

@media screen and (min-width:400px){
    .bswitch{width: 60px;}
    
}








.sch{position: relative;width: 100%;overflow: hidden}
.sch img{position: relative;margin: auto;width: 180%;vertical-align:middle;left: -20px;animation-name: tsani; animation-duration: 1s; animation-fill-mode: forwards;}
.sidebg{width: 100%; height:auto;background-color: rgba(235,235,235,0.7);position: absolute;bottom: 0px;right: 0px;}

.hdtxt h1{font-size: 20px;text-align: center;color: #19647E}
.hdtxt p{font-size: 16px;text-align: center;}
.hdtxt h1 span{font-family: 'Pacifico', cursive;font-weight: 100;font-size: 23px;}


@media screen and (min-width:350px){
   .hdtxt h1{font-size: 22px;text-align: center;}
.hdtxt p{font-size: 16px;text-align: center;}


    
}
@media screen and (min-width:420px){

       .hdtxt h1{font-size: 22px;text-align: center;}
.hdtxt p{font-size: 17px;text-align: center;}

    
    
}

@media screen and (min-width:500px){
           .hdtxt h1{font-size: 26px;text-align: center;}
.hdtxt p{font-size: 18px;text-align: center;}
.sch img{vertical-align:middle;}
    

}

@media screen and (min-width:600px){
  
    
     .hdtxt h1{font-size: 30px;text-align: center;}
.hdtxt p{font-size: 22px;text-align: center;}
    .hdtxt h1 span{font-size: 32px;}
    
        .sch img{width: 110%;vertical-align:middle;left: 0px;}

  
}

@media screen and (min-width:900px){
    
    
    .sch img{width: 100%;vertical-align:middle;left: 0px;}
    
       .hdtxt h1{font-size: 34px;text-align: center;}
.hdtxt p{font-size: 24px;text-align: center;}
    .hdtxt h1 span{font-size: 36px;}
    
}


@media screen and (min-width:900px){
 
       
    .sch img{width: 100%;vertical-align:middle}
       .hdtxt h1{font-size: 36px;text-align: center;}
.hdtxt p{font-size: 28px;text-align: center;}
    .hdtxt h1 span{font-size: 38px;}
 
    
   

}
@media screen and (min-width:1200px){
    .hdtxt{font-size: 50px;}
    

}










/* e: consult */





/*s: consult*/

.cons{width: 100%;height: auto;background-color:#F9F9F9;}
.cont1{width: 100%;height: auto;padding: 5px;}
.cont1 h1{text-align: center;color: #454545;margin-top: 20px;}
.cont1 h2{color: #F39237;font-size: 22px; text-align: center;padding-bottom: 10px}
.cont1 p{text-align: justify;}
.conline{width: 100%;height: auto;}


/* end: consult*/













textarea:focus, input:focus,select:focus{
    outline: none;
}




.form_cont{ 
    width: 100%; margin: auto; margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px olid black;

    padding: 20px 0px;
}



.fields{ width: 100%; display: flex; justify-content: center; flex-direction: column;   height: auto;}


#cletf1, #cletf2, #cletf3,#cletf4{display: flex; justify-content: center; align-items: center; width: 90%; margin: auto;margin: 10px;}
#clet5 { width: 90%; height: 200px;display: flex; justify-content: center; align-items: center;position: relative;left: 10px}

#cletf1 input, #cletf2 input, #cletf3 input,#cletf4 input, #cletf5 textarea{ width: 95%; height: auto; padding: 13px 0px; padding-left: 45px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); font-size: 18px; color: #2B2D42;border: 1px solid rgba(37,196,133,0);
transition: width 0.3s, box-shadow 0.3s,border 0.5s;
}
input::placeholder{color: #717171; font-size: 18px;padding-left: 0px; }

#clet5 textarea{ width: 95%; height: 150px;    border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); font-size: 20px; color: #717171;font-family: serif;
transition: width 0.3s, border 0.5s;padding-top: 10px;
}
input::placeholder{color: #717171; font-size: 16px; }
#want_ex option,#cletf2 select{color: #717171; font-size: 16px;}
textarea::placeholder{color: #717171; font-size: 16px; }

/* inter */
#cletf1 input{background-image: url(images/user.svg);background-size: 35px;}
#cletf2 input{background-image: url(images/email.svg);background-size: 35px;}
#cletf3 input{background-image: url(images/phone.svg);background-size: 35px;}
#cletf4 input{background-image: url(images/org.svg);background-size: 35px;}
#clet5 textarea{background-image: url(images/com24.png); background-position: 3px 65px; padding-left: 10px; }

/* inter */
#cletf1 input:focus{border: 1px solid rgba(242,155,51,1);}
#cletf2 input:focus{border: 1px solid rgba(242,155,51,1);}
#cletf3 input:focus{border: 1px solid rgba(242,155,51,1);}


#cletf4 input:focus{border: 1px solid rgba(242,155,51,1);}

#cletf6{  display: flex; justify-content: center; align-items: center;border: 1px olid }
#cletf6{ width: 90%; margin-top:30px;padding-left: px; position: relative; left: 10px;
}
#clet5 textarea:focus{border: 1px solid rgba(37,196,133,1);}


#ffsubmit{ border-style: none; border-radius: 5px;  color:white;background-image: url(images/mailsend.png); font-size: 22px;   background-color:#F39237;  background-repeat: no-repeat; background-position: 93px 10px; width: 130px; padding-right: 30px; transition: padding-right 0.5s, background-position,0.5s; height: 50px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;top: 5px;right: 0px;cursor: pointer;
    
  

}

#ffsubmit:hover{ padding-right: 43px; background-position: 97px 10px;}

/* end:form*/
.cont_con *{border: 1px olid}




@media screen and (min-width:900px){

    
    .fields{border: 1px olid;position: relative;top: 25px;}
 
    .set12{display: flex;flex-direction: row;}
    .set3{display: flex;width: 100%;position: relative;left: px;justify-content: center;align-items: center;padding-top: 20px;}
    #clet5 { height: 100px;width: 65%;}
    #clet5 textarea{height: 100px;width: 95%}
    #cletf6{width: 90%;position: relative;display: flex;justify-content: center;align-items: center;padding-left: 0px;margin-top:0px;top: -3px}

    
}

@media screen and (min-width:780px){
    
    .cons{display: flex;justify-content: center;align-items: center;padding: 50px;}
    .midline{width: 5px;height: 250px;background-color: #F39237;}
    .cont1{padding-right: 20px;width: 45%;padding-bottom: 40px;}
    .conline{width: 45%;}
    .cont1 p{text-align: right;}
    .cont1 h1,.cont1 h2{text-align: right;}
    
}
@media screen and (min-width:1100px){
      .cont1{width: 30%;}
    .conline{width: 45%;}
    
}

@media screen and (min-width:1000px){
    #consj1{opacity: 0;position: relative;left: -50px;transition: opacity 1s, left 1s;}
    #consj2{opacity: 0;position: relative;left: -50px;transition: opacity 1s, left 1s;}
    
}


/*e: consult*/






/*s: What we offer*/
.offer{padding: 10px 0px;}
.offhd{font-size: 23px;text-align: center;margin-bottom: 30px;border: 1px olid;}

.offhd span{display: inline-block;border-bottom: 2px solid #19647E;}

.off_con{display: flex;flex-direction: column;justify-content: center;}

.off1{background-color: #F9F9F9;width: 95%;margin: auto;box-shadow: 1px 2px 10px 0px rgba(20, 20, 20, 0.2);margin: 10px auto;padding-left: 5px;}
.off11{width: 100%;display: flex;justify-content: center;align-items: center;}
.off11 img{width: 70%;margin: auto;}
.off12 h2{text-align: center;padding:5px 0px;font-size: 21px;color:#19647E }
.off12 p{padding: 5px 0px;padding-right: 10px;}
.feat p{padding: 0;padding-left: 3px;}
.brands h2,.var h2{font-size: 20px;font-weight: 100;margin: 0px; text-align: left;}

@media screen and (min-width:600px){
    .off_con{flex-direction: row;}
    .off1{width: 45%;}
    .offhd{font-size: 35px}

    
    
}
@media screen and (min-width:1000px){
    .off12 h2{font-size: 25px;}
    .brands h2,.var h2{font-size: 22px}
    .off_con{flex-direction: row;}
    .off1{width: 48%;display: flex;flex-direction: row;justify-content: center;align-items: center;}
    .off1{}
    .off11{width: 50%;}
    .off11 img{width: 120%;}
    .off12{width: 50%;}
    
    #ex_small{width: 120%;}
    
    .off_con{opacity: 1;position: relative;top: 00px;transition: opacity 1s,top 1s;}
}



.feat{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;padding: 0px 7px;}
.feat p{width: 130px;}
.feat img{width: 20px;vertical-align: middle;position: relative;bottom: px;}
.feat div{display: flex;justify-content: flex-start;align-items: flex-start;width: 50%;border: px solid red;margin: 5px 0px;}



/*e: what we offer*/