p{font-size: 16px!important}
@media screen and (min-width:750px){
    p{font-size: 18px!important}
    
}
textarea:focus, input:focus,select:focus{
    outline: none;
  
}




.sch{position: relative;width: 100%;overflow: hidden}
.sch img{position: relative;margin: auto;width: 150%;vertical-align:middle}
.sidebg{width: 150px; height:600px;background-color: rgba(235,235,235,0.7);position: absolute;top: 0px;right: 0px;transform: skewX(-10deg);}

.hdtxt{position: absolute;top: 0px; right: 0px;text-align: center;top: 25px;font-weight: 700;font-size: 20px;}
.hdtxt span{font-family: 'Pacifico', cursive;color: #1B998B;}






@media screen and (min-width:350px){
    

    
}
@media screen and (min-width:400px){
    

}

@media screen and (min-width:450px){
    

}

@media screen and (min-width:550px){
    

}

@media screen and (min-width:650px){
    

}


@media screen and (min-width:900px){
    

}
@media screen and (min-width:1200px){
    

}







/* s:sec2 */
.sec2{padding: 10px 5px;}
.sec2 h1{font-size: 20px;text-align: center;padding: 10px 0px;}
.sec2 h1 span{display: inline-block;border-bottom: 2px solid #19647E;}
.sec2 p{font-size: 16px;text-align: justify;padding:  0px 7px;;}
.feat{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: flex-start;padding: 0px 7px;}
.feat p{width: 130px;}
.feat img{width: 20px;vertical-align: middle;position: relative;bottom: px;}
.feat div{display: flex;justify-content: flex-start;align-items: flex-start;width: 50%;border: px solid red;margin: 5px 0px;}


.proud img{width: 70px;}
.p1{width:200px;margin: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;border: 1px solid #b5b5b5;margin: 10px auto}
.p1 p{text-align: center;}


@media screen and (max-width:450px){
.jptar{top: 20px;position: relative;opacity: 0; transition: opacity 1s, top 1s;}
}

@media screen and (min-width:420px){
    .p1{width: 130px;height: ;justify-content: flex-start;}
    .prodbox{display: flex;justify-content: space-between;align-items: lex-start;;}
.proud img{width: 70px;margin-bottom: 10px;}
}


@media screen and (min-width:760px){
    .sec2{display: flex;justify-content: space-between;}
    .what{width: 40%;}
    .proud{width: 55%;}
    .p1{margin: 0px 3px}
    
}
@media screen and (min-width:1000px){
   
        .what{width: 40%;margin-right: 50px;}
    .proud{width: 40%;}
    .prodbox{justify-content: center;;}
    .p1{margin:0px 10px;width: 170px;}
    .sec2{padding: 40px 0px;display: flex;justify-content: center;padding: 50px 0px;}
    .sec2 h1{font-size: 35px;margin-bottom: 20px;}
    
.jptar{top: 20px;position: relative;opacity: 0; transition: opacity 1s, top 1s;}
    .sec2 p{font-size: 18px;}
    .prod p{font-size: 18px;}
      
}

/* e:sec2 */


/* s: tesi*/





.testi h1,.testi p,.testi h2{color: #fcfcfc;}  
.testi{width: 100%; height: auto;  border:1px olid green;overflow: hidden;padding: 10px 0px;padding-bottom: 30px;background-image:url(images/howbg.svg);background-size: cover;background-repeat: no-repeat;}
.testihd{font-size: 23px;text-align: center;margin-bottom: 30px;border: 1px olid;}

.testihd span{display: inline-block;border-bottom: 2px solid #fcfcfc;}
.testi p{text-align: justify;}



.tall{ width: 90%;;border-radius: 5px; height: auto; font-size: 16px;padding:10px 10px;;box-shadow: 1px 2px 10px 0px rgba(20, 20, 20, 0.2);position: relative;margin: 10px;margin: 10px auto; animation-name: tsani;animation-duration: 1s; animation-fill-mode: forwards;}
.tall p{text-align:left;}
.tquote{width: 40px; height: 40px;border-radius: 50%;display: flex;position: absolute;right: 0px;top: -30px;border: 1px solid #EEC643;background-color: #fcfcfc;box-shadow: 1px 2px 10px 0px rgba(20, 20, 20, 0.2);z-index: 

}
.tall h2{font-size: 20px;padding-bottom: 10px;text-align: center;}
.tquote img{width: 50%;margin: auto}
#talimg{width: 100px;margin: auto;display: block}

    .tds{display: none;}
 
.psidehd{display: none;}
@media screen and (min-width:880px){
    .testi{display: flex;width: 100%;border: 1px olid red;justify-content: space-between;}
    .testihd{width: 20%;border: 1px olid;font-family: 'Pacifico', cursive;font-size: 55px;padding-top: 30px;padding-right: 0px;position: relative;left: -100px;opacity: 0;transition: opacity 1s,left 1s;}
    .testihd span{border-bottom: 0px;}
    .tblock{display: flex;width: 70%;justify-content: center; padding-top: 0px;border: 1px olid;}
    .tblock p{font-size: 18px;}
    .testi{padding-bottom: 0px;border: 1px olid;padding-top: 0px;padding: 50px 10px;}
    .tall{width: 33%;;border-radius: 5px;margin: 10px;}

    
}




@media screen and (max-width:880px){
  
.tswitch,.wswitch{width: 60%; height: 50px;border: 1px olid;margin: auto;margin-top: 30px;display: flex;justify-content: space-between;align-items: center;}
.tswit,.wswit{width: 30px; height: 30px; border-radius: 50%; background-color: #EEC643;display: flex;}
.tsin,.wsin{width: 20px; height: 20px;background-color: #454545;border-radius: 50%;margin: auto;border: 3px solid #3a77c8;box-sizing: content-box}



@keyframes tsani{
    from{opacity: 0;top: 25px; }
     to{opacity: 1;top: 0px; }
    
}




}

/*e: Testimonial*/


/*s: What we offer*/
.offer{padding: 10px 0px;}
.offhd{font-size: 23px;text-align: center;margin-bottom: 30px;border: 1px olid;}

.offhd span{display: inline-block;border-bottom: 2px solid #19647E;}

.off_con{display: flex;flex-direction: column;justify-content: center;}

.off1{background-color: #F9F9F9;width: 95%;margin: auto;box-shadow: 1px 2px 10px 0px rgba(20, 20, 20, 0.2);margin: 10px auto;padding-left: 5px;}
.off11{width: 100%;display: flex;justify-content: center;align-items: center;}
.off11 img{width: 70%;margin: auto;}
.off12 h2{text-align: center;padding:5px 0px;font-size: 21px;color:#19647E }
.off12 p{padding: 5px 0px;padding-right: 10px;}
.feat p{padding: 0;padding-left: 3px;}
.brands h2,.var h2{font-size: 20px;font-weight: 100;margin: 0px; text-align: left;}

@media screen and (min-width:600px){
    .off_con{flex-direction: row;}
    .off1{width: 45%;}
    .offhd{font-size: 35px}

    
    
}
@media screen and (min-width:1000px){
    .off12 h2{font-size: 25px;}
    .brands h2,.var h2{font-size: 22px}
    .off_con{flex-direction: row;}
    .off1{width: 48%;display: flex;flex-direction: row;justify-content: center;align-items: center;}
    .off1{}
    .off11{width: 50%;}
    .off11 img{width: 120%;}
    .off12{width: 50%;}
    
    #ex_small{width: 120%;}
    
    .off_con{opacity: 0;position: relative;top: 100px;transition: opacity 1s,top 1s;}
}

/*e: what we offer*/

/*s: clients*/
.bblock{background-color: #ffffff;}
.btall{width: 100%; height: auto; opacity: 1; border: 1px olid black;animation-name: tsani;animation-duration: 1s; animation-fill-mode: forwards;display: flex;justify-content: space-around;align-items: center;flex-wrap: wrap;margin: 00px 0px;padding-bottom: 20px;}
.bt2{border-color: red;}
.bt3{border-color:green;}

.btall img{width: 130px;border: 1px olid;display: block;}
.clihd{font-size: 23px;text-align: center;margin-bottom: 30px;border: 1px olid;}

.clihd span{display: inline-block;border-bottom: 2px solid #19647E;}
@media screen and (min-width:400px){
  .btall img{width: 90px;border: 1px olid;display: block;}  
  
}
@media screen and (min-width:450px){
  .btall img{width: 100px;border: 1px olid;display: block;}  
  
}
  @media screen and (min-width:550px){
  .btall img{width: 130px;border: 1px olid;display: block;}  
  
}
  @media screen and (min-width:1000px){
  .btall img{width: 130px;border: 1px olid;display: block;margin: 0px 30px;}  
      .btall{justify-content: center;}
      .clihd{font-size: 35px;
}
  
}

@media screen and (max-width:880px){
  
.bswitch,.bswitch{width: 40%; height: 50px;border: 1px olid;margin: auto;margin-top: 30px;display: flex;justify-content: space-between;align-items: center;display: none;}
.bswit,.bswit{width: 20px; height: 20px; border-radius: 50%; background-color: #454545;display: flex;}
.bsin,.bsin{width: 10px; height: 10px;background-color: #454545;border-radius: 50%;margin: auto;border: 3px solid #fcfcfc;box-sizing: content-box}


}


/*e: clients*/
      
      
      /*s:final*/
      .final{width: 100%;border: 1px olid;padding: 50px 0px;background-image: url(images/footbg.jpg);background-repeat: no-repeat;background-size: cover;}
.final h1{font-size: 23px;text-align: center;color: #454545;}
.final h2{font-size: 20px;}
.final p{text-align: justify;padding: 0px 5px}
.final img{width: 100px;}
.fin1,.fin2{display: flex;flex-direction: column;justify-content: center;align-items: center;margin: 20px 0px;}
.fin2 img{width: 100px;}

.fincon{width: 120px;border-radius: 20px;border: 2px solid #19647E;display: flex;margin: 10px 0px;}
.fincon p{margin: auto;font-size: 18px;padding: 7px;}






.form_cont{ 
    width: 100%; margin: auto; margin-top: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px olid black;

    padding: 0px 0px;
}



.fields{ width: 100%; display: flex; justify-content: center; flex-direction: column;   height: auto;}


#cletf1, #cletf2, #cletf3,#cletf4{display: flex; justify-content: center; align-items: center; width: 90%; margin: auto;margin: 10px;}


 #cletf2 input{ width: 150px;; height: auto; padding: 13px 0px; padding-left: 45px;  border-style: none; border-radius: 3px; background-repeat: no-repeat; background-position: 3px ; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); font-size: 18px; color: #454545;border: 1px solid rgba(37,196,133,0);
transition: width 0.3s, box-shadow 0.3s,border 0.5s;font-family: 'Roboto', sans-serif;
}



input::placeholder{color: #b5b5b5; font-size: 16px;}



/* inter */

#cletf2 input{background-image: url(images/phone.svg);background-size: 35px;}


/* inter */

#cletf2 input:focus{border: 1px solid rgba(33,147,168,1);}






#cletf6{  display: flex; justify-content: center; align-items: center;}
#cletf6{ width: 100px;
}



#ffsubmit{ border-style: none; border-radius: 5px;  color:white;background-image: url(images/mailsend.png); font-size: 20px;  height: 50px; background-color:#19647E;  background-repeat: no-repeat; background-position: 93px 10px; width: 100px; padding-right: 30px; transition: padding-right 0.5s, background-position,0.5s; height: 40px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
 

}
   .dual{display: flex;justify-content: center;align-items: center;}



/* end:form*/

@media screen and (min-width:600px){
    .finbox{display: flex;justify-content: center;align-items: flex-start;}
    .fin1,.fin2{border: 1px olid;width: 48%;margin: 0px 10px;}
    .dual{display: flex;}
    .fincon{top: 15px;position: relative;display: flex}
    #ffsubmit{right: 0px}
}

@media screen and (min-width:900px){
    .final h1{font-size: 35px;width: 50%;margin: auto;color: #454545;}
    .finbox p{font-size: 18px}
        .fin1,.fin2{border: 1px olid;width: 45%;margin: 0px 10px;}
       .fincon{top: 35px;position: relative;display: flex}
    
}

@media screen and (min-width:1200px){
    .final h1{font-size: 35px;width: 50%;margin: auto;color: #454545;}
    .finbox p{font-size: 18px}
        .fin1,.fin2{border: 1px olid;width: 30%;margin: 0px 50px;}
       .fincon{top: 35px;position: relative;display: flex}
    
}


      /*e:final*/
      
      